body {
  font-family: Google Sans, arial, sans-serif;
}

li {
  list-style: none;
}

.weather-app {
  max-width: 750px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #d9dce0;
  border-radius: 5px;
}

.temperature {
  font-size: 48px;
  font-weight: 400px;
  line-height: 60px;
}

.symbol {
  font-size: small;
}

.categories {
  padding-top: 50px;
}

.categories1 {
  padding-left: 10px;
  margin-top: 10px;
}

.location {
  display: block;
  font-size: x-large;
  color: #202124;
}
