html {
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  height: 785px;
  line-height: 18.4px;
  text-size-adjust: 100%;
  width: 1425px;
  -webkit-locale: "en";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  color: red;
}

h2 {
  background-color: coral;
  color: aliceblue;
}

.weather {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}
