body {
  font-family: Google Sans, arial, sans-serif;
}

img {
  padding-left: 5px;
  height: 85px;
  width: 85px;
}

li {
  list-style: none;
}

.weather-app-wrapper {
  max-width: 750px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #d9dce0;
  border-radius: 5px;
}

#temperature {
  padding-left: 15px;
  font-size: 35px;
  line-height: 60px;
}

.units {
  font-size: small;
  position: relative;
  top: -15px;
}
.active {
  color: #212529;
  cursor: default;
}

#celsius,
#fahrenheit {
  text-decoration: none;
}

.categories {
  padding-top: 50px;
  padding-left: 0;
}

.categories1 {
  padding-left: 0;
  margin-top: 10px;
}

#city {
  display: block;
  font-size: x-large;
  color: #202124;
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forcast img {
  padding: 0;
  height: 60px;
  width: 60px;
}

.weather-forcast-date {
  opacity: 0.6;
  font-size: 18px;
}

.weather-forcast-temerature-min {
  opacity: 0.6;
  font-size: 15px;
}
